<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757455724597-khfhdadj2lsd9rqd4soich5bjnchil6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757455724597-khfhdadj2lsd9rqd4soich5bjnchil6k</string>
	<key>API_KEY</key>
	<string>AIzaSyA0deJhm40tUZg6LSNRKlid_Zw6stZBc3E</string>
	<key>GCM_SENDER_ID</key>
	<string>757455724597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.usersApp</string>
	<key>PROJECT_ID</key>
	<string>clone-67f46</string>
	<key>STORAGE_BUCKET</key>
	<string>clone-67f46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757455724597:ios:b35cd29660eae688f0517c</string>
</dict>
</plist>